@import "tailwindcss/base";
@import "tailwindcss/components";
@import "perfect-scrollbar/css/perfect-scrollbar.css";
@import "tailwindcss/utilities";

.dark .ps__rail-y,
.dark .ps__rail-x {
    background-color: transparent !important;
}

.backgroundImage {
    background-image: url(../../public/images/morocco.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    min-height:90vh;
    display: flex;
}

@media only screen and (max-width: 767px) {
body {
    /* The file size of this background image is 93% smaller
    to improve page load speed on mobile internet connections */
    background-image: url(../../public/images/morocco.jpg);
    background-repeat: no-repeat;
    }
}

.hover\:bg-comp:hover {
	--tw-text-opacity: 1;
    background-color: rgba(185, 157, 31, var(--tw-bg-opacity));
}

.bg-comp {
	--tw-text-opacity: 1;
    background-color: rgba(185, 157, 31, var(--tw-bg-opacity));
} 